<div class="card my-3" style="width: 14rem">
  <img src="{{ rym.image }}" class="card-img-top" alt="{{ rym.name }}" />
  <div class="card-body">
    <span
      class="btn btn-sm float-end"
      [ngClass]="{
        'btn-success': rym.status.toLowerCase().includes('alive'),
        'btn-danger': !rym.status.toLowerCase().includes('alive')
      }"
      >{{ rym.status }}</span
    >
    <h5 class="card-title">{{ rym.name }}</h5>
    <p class="fw-bolder">
      Especie
      {{ rym.species }}
    </p>
    <p class="fw-bolder">
      Genero
      {{ rym.gender }}
    </p>

    <!--    <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
